<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Intellisets</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Asset Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Asset Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${asset.id}">Asset Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${asset.description}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${asset.category}">description</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Department:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${asset.department}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Purchase Date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${asset.purchaseDate}">purchaseDate</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${asset.cost}">Cost</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>